@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('./blocks/body/body.css');
@import url('./blocks/page/page.css');
@import url('./blocks/header/header.css');
@import url('./blocks/header/__logo/header__logo.css');
@import url('./blocks/content/content.css');
@import url('./blocks/popup/popup.css');
@import url('./blocks/popup/_opened/popup_opened.css');
@import url('./blocks/popup/__grid/popup__grid.css');
@import url('./blocks/popup/__close-button/popup__close-button.css');
@import url('./blocks/popup/__close-button/_type_image/popup__close-button_type_image.css');
@import url('./blocks/popup/__image/popup__image.css');
@import url('./blocks/popup/__container/popup__container.css');
@import url('./blocks/popup/__form/popup__form.css');
@import url('./blocks/popup/__form-heading/popup__form-heading.css');
@import url('./blocks/popup/__form-input/popup__form-input.css');
@import url('./blocks/popup/__form-input/_type/popup__form-input_type_error.css');
@import url('./blocks/popup/__form-input-error/popup__form-input-error.css');
@import url('./blocks/popup/__form-input-error/_active/popup__form-input-error_active.css');
@import url('./blocks/popup/__save-button/popup__save-button.css');
@import url('./blocks/popup/__save-button/_disabled/popup__save-button_disabled.css');
@import url('./blocks/popup/__holder/popup__holder.css');
@import url('./blocks/popup/__caption/popup__caption.css');
@import url('./blocks/profile/profile.css');
@import url('./blocks/profile/__images-container/profile__images-container.css');
@import url('./blocks/profile/__image/profile__image.css');
@import url('./blocks/profile/__image-overlay/profile__image-overlay.css');
@import url('./blocks/profile/__image-button/profile__image-button.css');
@import url('./blocks/profile/__rows/profile__rows.css');
@import url('./blocks/profile/__top-row/profile__top-row.css');
@import url('./blocks/profile/__title/profile__title.css');
@import url('./blocks/profile/__info-button/profile__info-button.css');
@import url('./blocks/profile/__info-image/profile__info-image.css');
@import url('./blocks/profile/__subtitle/profile__subtitle.css');
@import url('./blocks/profile/__plus-button/profile__plus-button.css');
@import url('./blocks/profile/__plus-image/profile__plus-image.css');
@import url('./blocks/post-container/post-container.css');
@import url('./blocks/post/post.css');
@import url('./blocks/post/__image/post__image.css');
@import url('./blocks/post/__image-button/post__image-button.css');
@import url('./blocks/post/__delete-button/post__delete-button.css');
@import url('./blocks/post/__delete-button/_hiden/post__delete-button_hiden.css');
@import url('./blocks/post/__bottom-container/post__bottom-container.css');
@import url('./blocks/post/__heading/post__heading.css');
@import url('./blocks/post/__like-container/post__like-container.css');
@import url('./blocks/post/__button/post__button.css');
@import url('./blocks/post/__button/_active/post__button_active.css');
@import url('./blocks/post/__like-counter/post__like-counter.css');
@import url('./blocks/footer/footer.css');
@import url('./blocks/footer/__copyright/footer__copyright.css');



.upper-container {
  width: 100%;
  max-width: 100%;
  height: 576px;
  background-image: url('./images/background-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_type_black {
  box-shadow: inset 0px -1px 0px #D1D2D6;
}


.header__heading {
  font-family: Roboto Slab, serif, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(24 / 20);
  color: white;
  margin: auto auto 26px 7.22%;
}

.header__heading_type_black{
  color: #1A1B22;
}

.header__home-button {
  font-family: Roboto, serif, sans-serif;;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(24 / 18);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity .2s linear;
  color: white;
  border-bottom: white solid 4px;
  width: 68px;
  height: 50px;
  margin: 30px 33px 0 0;
  padding: 0 0 23px;
}

.header__home-button_type_black {
  border-bottom: none;
  color: #1A1B22;
}

.header__saved-button {
  font-family: Roboto, serif, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(24 / 18);
  text-align: center;
  color: #B6BCBF;
  width: 178px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity .2s linear;
  padding: 0 0 23px;
  margin: 30px 32px 0 0;
  height: 50px;
}

.header__saved-button_type_black {
  color: #1A1B22;
  border-bottom: #1A1B22 solid 4px;
}

.header__signin-button {
  font-family: Roboto, serif, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(24 / 20);
  background-color: transparent;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  transition: opacity .2s linear;
  color: white;
  width: 176px;
  height: 48px;
  margin: 19px 104px 13px 0;
  padding: 12px 0 23px;
  border-radius: 100px;
}

.header__logout-button {
  font-family: Roboto, serif, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(24 / 20);
  border: 1px solid #FFFFFF;
  cursor: pointer;
  transition: opacity .2s linear;
  color: white;
  border-radius: 100px;
  background-color: transparent;
  height: 48px;
  width: 112px;
  margin: 19px 7.22% 13px 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}



.header__logout-button_type_black {
  color: #1A1B22;
  border: 1px solid #1A1B22;
}

.header__logout-image {
  margin-left: 5px;
}

.header__menu-button {
  width: 24px;
  height: 24px;
  margin: 16px 16px 16px auto;
  background-color: transparent;
  cursor: pointer;
  border: none;

}

.upper-container__heading {
  margin: 80px 0 0;
  font-family: Roboto Slab, serif, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: calc(64 / 60);
  color: #FFFFFF;
  max-width: 608px;
}

.upper-container__subtitle {
  font-family: Roboto, serif, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: calc (24 / 18);
  color: #FFFFFF;
  max-width: 608px;
  margin: 32px 0 0;
}

.search-form {
  display: flex;
  background-color: #FFFFFF;
  width: 608px;
  height: 64px;
  margin-top: 88px;
  border: 1px solid #D1D2D6;
  box-sizing: border-box;
  backdrop-filter: blur(8px);
  border-radius: 100px;
}

.search-form__input {
  border: none;
  font-family: Roboto, sans-serif, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(22 / 16);
  color: #1A1B22;
  border-radius: 100px;
  margin: 0 0 0 24px;
  padding: 0;
}

.search-form__input:focus {
  outline: none;
}

.search-form__input::placeholder {
  color: #B6BCBF;;
}

.search-form__button {
  background-color: #2F71E5;
  border: none;
  cursor: pointer;
  transition: background-color .2s linear;
  padding: 0;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(24 /18);
  color: white;
  width: 168px;
  margin: -1px -1px -1px auto
}

.search-form__button:hover {
  background-color: #347EFF;
}

.search-form__button:active {
  background-color: #2A65CC;;
}


.popup__close-button_type_nav {
  background-image: url(../src/images/close.png);
  width: 24px;
  height: 24px;
  margin: 16px 16px 16px 0;
}



.popup__container_type_nav {
  background-color: #1A1B22;
  width: 100%;
  border-radius: 16px;
  margin-bottom: auto;
  width: 430px;
}

.popup__nav-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.popup__input-title {
  font-family: Inter, sans-serif, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(15 / 12);
  color: #2F71E5;
  margin: 13px auto 0 0;
  }

.popup__input-title:first-of-type {
  margin-top: 22px;
}


.popup__redirect-button {
  background-color: transparent;
  border: none;
  margin: 16px auto 28px;
  font-family: Inter, sans-serif, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(17 / 14);
  text-align: center;
  color: #000000;
  cursor: pointer;
  transition: opacity .2s linear;
}

.popup__redirect-button:hover {
  opacity: .8;
}

.popup__highlighted-text {
  color: #2F71E5;
  font-family: Inter, sans-serif, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(17 / 14);
}

.footer__home-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 30px 0 28px 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(24 / 18);
  text-align: center;
  color: #1A1B22;
  padding: 0;
}

.footer__link {
  cursor: pointer;
  margin: 30px 0 28px 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(24 / 18);
  text-align: center;
  color: #1A1B22;
  text-decoration: none;
  margin: 30px 42px 28px 0;
}

.footer__link-image {
  margin-right: 28px;
}

.footer__link-image:last-of-type {
  margin-right: 7.36%;
}

.link-container {
  max-width: 112px;
  width: 11.45%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}

.about__container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 624px;
  max-height: 624px;
}

.about__image {
  width: 464px;
  height: 464px;
  border-radius: 1000px;
  margin: 5.55% 56px 0 7.22%;
  background-image: url('./images/image-03.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.about__text-container {
  width: 600px;
  margin: 9.09% 14.58% 0 0;
}

.about__title {
  margin: 0;
  font-family: Roboto Slab, sans-serif, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: calc(46 / 40);
  color: #1A1B22;
}

.about__content {
  font-family: Roboto, serif, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(24 /18);
  color: #1A1B22;
  margin: 24px 0 0;
}

.preloader {
  background-color: #F5F6F7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes rotation {
  0% {
   transform: rotate(0deg);
  }
  100% {
   transform: rotate(360deg);
  }
 }

 .rotation{
  animation: rotation 2s linear infinite;
}

.perloader__searching-image {
  width: 74px;
  height: 74px;
  margin-top: 80px;
}

.preloader__searching-text {
  font-family: Roboto, sans-serif, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(24 / 18);
  text-align: center;
  color: #B6BCBF;
  margin: 24px 0 80px;
}

.perloader__not-found-image {
  width: 96px;
  height: 96px;
  margin-top: 80px;
}

.preloader__title {
  font-family: Roboto Slab, serif, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: calc(30 / 26);
  text-align: center;
  color: #1A1B22;
  margin-top: 40px;
  }

  .preloader__not-found-text {
    margin-top: 18px;
    font-family: Roboto Slab, serif, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: calc(30 / 26);
    text-align: center;
    color: #1A1B22;
  }

  .preloader__searching-text:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 1.5s infinite;
    animation: ellipsis steps(4,end) 1.5s infinite;
    content: "\2026";
    width: 0px;
  }

  @keyframes ellipsis {
    to {
      width: 20px;
    }
  }

  @-webkit-keyframes ellipsis {
    to {
      width: 20px;
    }
  }

  .news-section {
    background-color: #F5F6F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .card {
    width: 100%;
    max-width: 400px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 576px;
    position: relative;
    overflow: hidden;
    background-color: #FFFFFF;
  }

  .card__button {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 24px;
    top: 24px;
    border: none;
    cursor: pointer;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
  }

  .card__button_type_favorite {
    background-image: url('./images/favorite-button.png');
  }

  .card__button_type_favorite:hover {
    background-image: url('./images/favorite-button-black.png');
  }

  .card__button_type_delete {
    background-image: url('./images/trash.png');
  }

  .card__button_type_delete:hover {
    background-image: url('./images/trash-black.png');
  }

  .card__button:hover ~ .card__hover-elemnt {
    visibility: visible;
    opacity: 1;
    color: #1A1B22;
  }

  .card__hover-elemnt {
    font-family: Roboto, sans-serif, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(14 / 2);
    color: transparent;
    max-width: 182px;
    height: 40px;
    position: absolute;
    right: 69px;
    top: 24px;
    border: none;
    background-color: #FFFFFF;
    border-radius: 8px;
    margin: 0;
    padding: 0 5px 0 5px;
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: visibility 0.7s, opacity 0.7s, color 0.5s ease-in-out;
  }

  .card__keyword {
    position: absolute;
    padding: 0 22px 0 22px;
    max-width: 150px;
    height: 40px;
    top: 24px;
    left: 24px;
    background-color: #FFFFFF;
    margin: 0;
    font-family: Roboto, serif, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(24/ 14);
    color: #000000;
    z-index: 2;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card__image {
    max-width: 100%;
    min-height: 272px;
    margin: 0;
    object-fit: cover;
    object-position: 5% 0;
  }

  .card__bottom-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 304px;
  }

  .card__date {
    margin: 0;
    font-family: Source Sans Pro, sans-serif, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: calc(24 / 18);
    color: #B6BCBF;
  }

  .card__link {
    text-decoration: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: opacity .2s linear;
  }



  .card__link:hover {
    opacity: .6;
  }

  .card__link_type_image:hover {
    opacity: .85;
  }

  .card__title {
    max-width: 100%;
    font-family: Roboto Slab, sans-serif, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: calc(30 / 26);
    color: #1A1B22;
    margin: 12px 0 0;
    max-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .card__discription {
    max-width: 100%;
    font-family: Roboto, sans-serif, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1A1B22;
    margin: 16px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-height: 88px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }

  .card__source {
    font-family: Roboto Slab, sans-serif, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #B6BCBF;
    margin: auto 0 24px;
  }

  .more-button {
    background-color: #E8E8E8;;
    border-radius: 80px;
    width: 288px;
    height: 64px;
    margin: 0 0 80px;
    border: none;
    font-family: Roboto, sans-serif, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: calc(24 / 18);
    color: #1A1B22;
    cursor: pointer;
  }

  .saved-news__header-container {
    width: 85.55%;
    height: 294px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .saved-news__title {
    font-family: Roboto, sans-serif, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(24 / 18);
    color: rgba(26, 27, 34, 0.5);
    margin: 40px 0 0;
  }

  .saved-news__discription {
    font-family: Roboto Slab, sans-serif, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: calc(46 / 40);
    color: #1A1B22;
    margin: 28px 0 0;
  }

  .saved-news__keywords {
    font-family: Roboto, sans-serif, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(24 / 18);
    color: #1A1B22;
    margin: 30px 0 0;
  }

  .saved-news__keywords_type_bold {
    font-weight: 700;
  }


  @media only screen and (max-width: 1130px){
    .card__button {
      top: 16px;
      right: 16px;
    }

    .card__hover-elemnt {
      top: 16px;
      right: 61px;
    }

    .card__keyword {
      top: 16px;
      left: 16px;
      padding: 0 20px 0 20px;
    }

    .saved-news__header-container {
      width: 89.58%;
      height: 294px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .header__heading {
      margin-left: 5.2%;
    }

    .header__saved-button {
      margin-right: 2.08%;
    }


    .header__logout-button {
      margin-right: 5.2%;
    }
  }

  @media only screen and (max-width: 1000px){
    .card__hover-elemnt {
      top: 62px;
      right: 16px;
    }
  }

  @media only screen and (max-width: 768px){
  .upper-container {
    height: 400px;
  }

  .header {
    height: 66px;
  }

  .header__heading {
    margin: auto auto 18.5px 5.2%;
  }

  .header__home-button {
    font-size: 16px;
    line-height: calc(24 / 16);
    max-width: 60px;
    height: 41px;
    margin: 25px 16px 0 0;
    padding-bottom: 17px;
  }

  .header__saved-button {
    height: 41px;
    max-width: 160px;
    margin: 24px 2.08% 0 0;
  }

  .header__signin-button {
    font-size: 16px;
    line-height: calc(24 / 16);
    max-width: 152px;
    height: 40px;
    margin: 14px 40px 12px 0;
    padding: 0;
    border-radius: 100px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .header__logout-button {
    max-width: 100px;
    height: 40px;
    margin: 14px 5.2% 12px 0;
  }


  .upper-container__heading {
    margin: 38px 28.64% 0 21.22%;
    font-size: 36px;
    line-height: calc(40 / 36);
    max-width: 385px;
  }

  .upper-container__subtitle {
    max-width: 452px;
    margin: 16px 20.31% 0 20.83%;
  }

  .search-form {
    max-width: 448px;
    height: 64px;
    margin-top: 48px;
  }

  .search-form__input {
    margin-left: 24px;
  }

  .search-form__button {
    max-width: 160px;
  }

  .footer__link {
    margin-right: 3.38%;
  }

  .footer__link-image:last-of-type {
    margin-right: 5.33%;
  }

  .about__container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 354px;
  }

  .about__image {
    max-width: 232px;
    max-height: 232px;
    margin: 7.94% 32px 0 5.2%;
  }

  .about__text-container {
    width: 424px;
    margin: 5.2% 5.2% 0 0;
  }

  .about__title {
    font-size: 30px;
    line-height: calc(40 / 30);
  }

  .about__content {
    margin-top: 16px;
  }

  .more-button {
    width: 240px;
    height: 56px;
  }

  .card__button {
    top: 8px;
    right: 8px;
  }

  .card__hover-elemnt {
    top: 54px;
    right: 8px;
  }

  .card__keyword {
    top: 8px;
    left: 8px;
  }

}

@media only screen and (max-width: 560px){
  .upper-container {
    min-height: 400px;
  }

  .header__heading {
    margin-left: 10px;
  }

  .header__home-button {
    margin-left: 20px;
  }

  .header__signin-button {
    margin-right: 10px;
  }


  .header__home-button_type_nav {
    line-height: calc(56 / 18);
    border: none;
    max-width: 90%;
    width: 90%;
    height: 56px;
    margin: 8px 0 0;
    text-align: start;
    padding: 0;
  }

  .header__signin-button_type_nav {
    margin: 22px 0 24px;
    padding: 0;
    max-width: 90%;
    width: 90%;
    height: 56px;
  }



  .upper-container__heading {
    min-height: 80px;
    margin: 38px 0 0;
    text-align: center;
  }

  .upper-container__subtitle {
    min-height: 48px;
    margin: 16px 0 0;
    text-align: center;
  }

  .search-form {
    max-width: 90%;
    min-height: 56px;
  }

  .search-form__input {
    margin-left: 10px;
    max-width: 120px;
  }

  .popup__container_type_nav {
    background-color: #1A1B22;
    width: 100%;
    border-radius: 16px;
    margin-bottom: auto;
    max-width: 489px;
  }

  .popup__nav-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .footer_type_mobile{
    flex-direction: column;
  }

  .footer__mobile-container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .link-container {
    margin: 20px auto 0 5%;
    width: 100px;
    justify-content: flex-start;
  }

  .footer__home-button {
    margin: 0;
  }

  .footer__link-image {
    margin: 22px 28px 0 0
  }

  .footer__link-image:last-of-type {
    margin-right: 18px;
  }

  .footer__link {
    cursor: pointer;
    margin: 26px auto 0 5%;
    text-align: left;
    color: #1A1B22;
  }

  .about__container {
    flex-direction: column;
    align-items: center;
    height: 752px;
    width: 85%;
    margin: 0 auto;
  }

  .about__image {
    width: 100%;
    margin: 32px 0 0;
  }

  .about__text-container {
    width: 100%;
  }

  .about__title {
    width: 100%;
    margin-top: 24px;
    text-align: center;
  }

  .about__content {
    width: 100%;
    text-align: center;
  }

  .footer {
    margin-top: 156px;
  }
}





@media only screen and (max-width: 347px){
  .upper-container {
    min-height: 536px;
    background-position: center;
    background-size: cover;
  }

  .header {
    height: 56px;
  }

  .header__heading {
    font-size: 16px;
    line-height: calc(24 / 16);
    margin: auto auto auto 16px;
  }

  .header__menu-button {
    width: 24px;
    height: 24px;
    margin: 16px 16px 16px auto;
    background-color: transparent;
    cursor: pointer;
    border: none;

  }

  .upper-container__heading {
    margin: 30px 16px 0 19px;
    font-size: 36px;
    line-height: calc(40 / 36);
    max-width: 285px;
  }

  .upper-container__subtitle {
    margin-top: 5.55%;
    max-width: 288px;
  }

  .search-form {
    background-color: transparent;
    max-width: 90%;
    width: 90%;
    height: 128px;
    margin-top: 42.63%;
    margin-bottom: 48px;
    border: none;
    border-radius: 0;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: none;
  }

  .search-form__input {
    margin: 0;
    max-width: 100%;
    height: 56px;
    }

  .search-form__button {
    margin: 16px 0 0;
    max-width: 100%;
    width: 100%;
    height: 56px;
  }

  .more-button {
    max-width: 100%;
  }
}


@media only screen and (max-width: 310px){
  .upper-container {
    min-height: 600px;
  }

  .about__image {
    padding-bottom: 100%;
  }
}










/* .popup__holder_type_tool-tip {
  width: 430px;
  height: 330px;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.popup__image_type_tool-tip {
  width: 120px;
  height: 120px;
}

.popup__caption_type_tool-tip {
  font-weight: 900;
  font-size: 24px;
  line-height: calc(29.05 / 24);
  color: black;
  text-align: center;
  margin-top: 32px;
} */