@import url('./PopupWithForm.css');

.header__nav {
  width: 424px;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  margin-right: 7.22%;
}

.header__black-navigation-button {
  font-family: Roboto, serif, sans-serif;;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(24 / 18);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity .2s linear;
  color: #1A1B22;
  height: 50px;
  margin: 30px 34px 0 0;
  padding: 0 4.7%;
  text-decoration: none;
}

.header__white-navigation-button {
  font-family: Roboto, serif, sans-serif;;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(24 / 18);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity .2s linear;
  color: white;
  height: 50px;
  margin: 30px 34px 0 0;
  padding: 0 4.7%;
  text-decoration: none;
}

.header__white-navigation-button_active {
  border-bottom: white solid 4px;
}

.header__black-navigation-button_active {
  border-bottom: black solid 4px;
}



.header__signin-button {
  font-family: Roboto, serif, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(24 / 20);
  background-color: transparent;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  transition: opacity .2s linear;
  color: white;
  width: 176px;
  height: 48px;
  margin: 19px 0 13px 0;
  padding: 12px 0 23px;
  border-radius: 100px;
}

.header__logout-button {
  font-family: Roboto, serif, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(24 / 20);
  border: 1px solid #FFFFFF;
  cursor: pointer;
  transition: opacity .2s linear;
  color: white;
  border-radius: 100px;
  background-color: transparent;
  height: 48px;
  width: 112px;
  margin: 19px 0 13px 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}



.header__logout-button_type_black {
  color: #1A1B22;
  border: 1px solid #1A1B22;
}

.header__logout-image {
  margin-left: 5px;
}



@media only screen and (max-width: 1130px){

  .header__nav {
    margin-right: 5.2%;
  }
}

@media only screen and (max-width: 768px){



  .header__nav {
    width: 356px;
  }



  .header__white-navigation-button {
    font-size: 16px;
    line-height: calc(24 / 16);
    height: 41px;
    margin: 25px 2.08% 0 0;
  }

  .header__black-navigation-button {
    font-size: 16px;
    line-height: calc(24 / 16);
    height: 41px;
    margin: 25px 2.08% 0 0;
  }

  .header__signin-button {
    font-size: 16px;
    line-height: calc(24 / 16);
    max-width: 152px;
    height: 40px;
    margin: 14px 0 12px;
    padding: 0;
    border-radius: 100px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .header__logout-button {
    max-width: 100px;
    height: 40px;
    margin: 14px 0 12px 0;
  }

}

@media only screen and (max-width: 561px){

  .header__home-button {
    margin-left: 20px;
  }

  .header__nav {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 491px){
  .popup__nav-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .header__white-navigation-button {
    line-height: calc(56 / 18);
    border: none;
    max-width: 90%;
    width: 90%;
    height: 56px;
    margin: 8px 0 0;
    text-align: start;
    padding: 0;
  }

  .header__signin-button_type_nav {
    margin: 22px 0 24px;
    padding: 0;
    max-width: 90%;
    width: 90%;
    height: 56px;
  }



  @media only screen and (max-width: 347px){


    .header {
      height: 56px;
    }


    .header__menu-button {
      width: 24px;
      height: 24px;
      margin: 16px 16px 16px auto;
      background-color: transparent;
      cursor: pointer;
      border: none;

    }
  }
}