.news-section {
  background-color: #F5F6F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.post-container {
  width: 85.55%;
  max-width: 1232px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(1, 1fr);
  row-gap: 16px;
  column-gap: 16px;
  margin: 64px auto 64px;
  padding: 0;
}


.post-container__list-item {
  list-style: none;
}

.more-button {
  background-color: #FFFFFF;;
  border-radius: 80px;
  width: 288px;
  height: 64px;
  margin: 0 0 80px;
  border: none;
  font-family: Roboto, sans-serif, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(24 / 18);
  color: #1A1B22;
  cursor: pointer;
  transition: opacity .2s, background-color .3s linear;
}

.more-button:hover {
  opacity: .9;
  background-color: #E8E8E8;;
}

@media only screen and (max-width: 1130px){
  .post-container {
    width: 89.58%;
    row-gap: 12px;
    column-gap: 12px;
  }
}


@media only screen and (max-width: 768px) {
  .more-button {
    width: 240px;
    height: 56px;
  }

  .post-container {
    row-gap: 8px;
    column-gap: 8px;
  }
}

@media only screen and (max-width: 560px){
  .post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 347px) {
  .more-button {
    max-width: 100%;
  }

}
