.popup__container {
  background-color: white;
  width: 430px;
  border-radius: 10px;
  z-index: 2;
}

@media only screen and (max-width: 767px){
  .popup__container {
    width: 55.98%;
    max-width: 430px;
  }
}

@media only screen and (max-width: 319px){
  .popup__container {
    max-width: 100%;
    width: 100%;
  }
}
