@import url('../PopupWithForm/PopupWithForm.css');

.popup__close-button_type_nav {
  background-image: url(../../images/close.png);
  width: 24px;
  height: 24px;
  margin: 16px 16px 16px 0;
}

@media only screen and (max-width: 561px) {
  .popup__container_type_nav {
    background-color: #1A1B22;
    width: 100%;
    border-radius: 16px;
    margin-bottom: auto;
    max-width: 489px;
  }
}



